@media(width <= 1280px){
  .container{width: 95%;}
}

@media(width <= 900px){
  .inner-quotes-container{width: 100%;}
}

@media(width <= 480px){
  .inner-quotes-container p{font-size: 1.2rem;}
  .inner-quotes-container h3{font-size: 1.5rem;}
}